@import "tailwindcss";


:root {

  --blue-login: #6EACDA;
  --blue-medium: #0F4C75;
  --blue-light: #3282B8;
  --blue-dark: #04324b;
  --blue-save: #1C7293;
  --grey-all: #BECCCF;
  --red-download: #DD7A96;
  --background: #BBE1FA;
  --blue-selected: #59b6d0;

  --letter-spacing-needed: 0.09em;

}

.my-button {
  background-color: var(--green-login);
  font-family: var(--font-outfit-regular);
  letter-spacing: var(--letter-spacing-needed);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
}

.heading-large {
  font-family: var(--font-outfit-bold);
  color: var(--green-medium);
}

.container {
  background-color: var(--background);
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type='password']::-webkit-credentials-auto-fill-button,
input[type='password']::-webkit-clear-button,
input[type='password']::-webkit-inner-spin-button {
  display: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
